{% extends 'video_archive/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap_pagination %}

{% block content %}
    <div class="d-flex flex-column va-center-container">
        <div class="d-flex flex-row">
            <div class="p-2 va-item-container va-form-container">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ video_file_form | crispy }}
                    {{ video_file_form.errors.name }}
                    <button type="submit" class="btn btn-primary">Upload via file</button>
                </form>
            </div>
            <div class="p-2 va-item-container va-form-container">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ video_url_form | crispy }}
                    {{ video_url_form.errors.name }}
                    <button type="submit" class="btn btn-primary">Upload via URL</button>
                </form>
            </div>
        </div>
        {% if videos_list %}
            {% bootstrap_paginate videos_list %}
        {% endif %}
        {% for video in videos_list %}
            <div class="p-2 va-item-container va-video-container">
                <video width="640" height="360" poster="{% if video.preview %}{{ video.preview.url }}{% else %}{% static 'video_archive/images/preview.png' %}{% endif %}" controls>
                    {% for source in video.format_set.complete.all %}
                        <source src="{{ source.file.url }}" type="video/{{ source.format }}"> </source>
                    {% endfor %}
                    <p>Your browser cannot play the provided video file.</p>
                </video>
            </div>
        {% endfor %}
    </div>
{% endblock %}
